body {
  font-family: "Inter";
}

#sobre {
  font-size: 1.6rem;
}
#sobre .wordings-container-main {
  font-size: 2.6rem;
}

.container-general {
  background-image: url(../assets/images/about.jpg);
  background-position: inherit;
}

.box-color-white {
  color: #625f63;
  background-color: #ebebfc;
  font-weight: 800;
}

#sobre img {
  width: 375px;
  margin: 0 2rem;
  border-radius: 1000px;
  box-shadow: inset 20px 20px 30px 10px rgba(255, 255, 255, 0.2);
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

#closing-remarks {
  color: #fff;
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#closing-remarks p {
  text-align: center;
}

#sobre button {
  margin: 24px 0px;
  font-weight: 800;
  padding: 5%;
  background-color: #9893da;
  border: none;
  font-size: 2.5rem;
  padding: 5px 30px;
  color: #fff;
  border-radius: 10px;
}

main section {
  padding-bottom: 5rem;
}

main section p {
  text-align: center;
  padding: 5%;
}

@media only screen and (min-width: 720px) {
  #closing-remarks {
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 1100px) {
  #sobre {
    font-size: 2rem;
  }
  #sobre .wordings-container-main {
    font-size: 3rem;
  }
  #closing-remarks {
    font-size: 2.5rem;
  }

  #sobre button {
    font-size: 3rem;
  }
  main section p {
    text-align: initial;
    padding: 0;
  }

  main > section {
    width: 75%;
  }

  .box-color-white {
    border-radius: 10px;
  }
  section div.d-flex {
    flex-direction: row !important;
  }
  section div.change-direction {
    flex-direction: row-reverse !important;
  }
  .change-direction p {
    text-align: right;
  }
}
