.container-general {
    background-image: url(../assets/images/cursos.jpg);
}

.wordings-container button {
    margin-top: 24px;
    font-weight: 800;
    padding: 5%;
    background-color: #9893da;
    border: none;
    font-size: 48px;
    padding: 5px 30px;
    color: #fff;
    border-radius: 10px;
}