.container-general {
  background-image: url(../assets/images/contact.jpg);
  background-position: inherit;
}

main {
  font-size: 2rem;
}

.h-contacto {
  color: #797a9e;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.data-submited {
  background-color: #625f63;
  color: #fff;
  text-align: center;
  width: 550px;
  padding: 50px;
  position: absolute;
  left: 50%;
  margin-left: -275px;
  margin-top: -20px;
  border-radius: 30px;
}

.positionthis {
  opacity: 0;
  display: none;
  top: 40%;
  position: relative;
}
.positionthis.animate {
  animation-name: submmited;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

.form-control,
.form-select,
.form-control::placeholder,
.form-select::placeholder {
  background-color: #bbbdf6 !important;
  color: #fff !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  border-radius: 40px !important;
  padding: 0.5rem 0.5rem !important;
}

form {
  background: #f1f2fd;
  width: 100%;
}
form div {
  flex-direction: column;
}

#boton_enviar,
#boton_borrar {
  margin-top: 24px;
  font-weight: 800;
  background-color: #9893da;
  border: none;
  font-size: 36px;
  width: 50%;
  padding: 5px 30px;
  color: #fff;
  border-radius: 10px;
}

#boton_borrar {
  background-color: #625f63;
}

@media only screen and (min-width: 880px) {
  form {
    width: 75%;
    border-radius: 30px;
  }

  form div {
    flex-direction: row;
  }
  form div label {
    width: 25%;
  }
  form div label.half {
    width: 50%;
  }

  #boton_enviar,
  #boton_borrar {
    width: 364px;
  }
}

@keyframes submmited {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
