footer {
  font-size: 1.5rem;
  display: flex;
  position: static;
  padding: 1% 5%;
  justify-content: space-between;
  bottom: 0;
}
footer img {
  width: 400px;
}
footer p {
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
}

.footer-color {
  background-color: #72727e;
}
