@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/inter-variable.ttf);
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url(../assets/fonts/inter-italic-variable.ttf);
}
@font-face {
  font-family: "Inter Tight";
  src: url(../assets/fonts/interTight-variable.ttf);
}
@font-face {
  font-family: "Inter Tight";
  font-style: italic;
  src: url(../assets/fonts/interTight-italic-variable.ttf);
}

* {
  font-family: "Inter" !important;
}

.background-color-primary {
  background-color: #bbbdf6;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.container-general {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-flex-padded {
  display: flex;
  flex-direction: column;
  padding: 3% 5%;
}
.flex-center {
  align-self: center;
}

.wordings-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800 !important;
}

.wordings-container h1 {
  font-weight: 800;
  font-size: 72px;
}

.wordings-container h3 {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
}
